In [1]:
import pandas as pd

In [106]:
last = pd.read_fwf('names/last.txt', names=['name', 'freq', 'cum_freq', 'rank'])
m_first = pd.read_fwf('names/male-first.txt', names=['name', 'freq', 'cum_freq', 'rank'])
f_first = pd.read_fwf('names/female-first.txt', names=['name', 'freq', 'cum_freq', 'rank'])
words = pd.read_excel('names/popular-words.xlsx', dtype={'freq': int, 'word': str})

In [107]:
names = pd.concat([last, m_first, f_first], axis=0)
names['name'] = names['name'].str.lower()
names = names.sort_values(by=['freq'], ascending=False).set_index(['name']).drop(['freq', 'cum_freq'], axis=1)
names['rank'] = range(names.shape[0])
names.to_pickle('names/all-names.pkl')
names

           rank
name
james         0
john          1
robert        2
michael       3
mary          4
...         ...
drewett   94288
drinnen   94289
druckman  94290
drust     94291
hallet    94292

[94293 rows x 1 columns]

In [108]:
words = words[~words['word'].str.contains('''!|"|#|\$|%|&|'|\*|\+|,|-|\.|:|;|=|\?|@|\^|_''', regex=True)]
words['rank'] = range(words.shape[0])
words = words.sort_values(['rank']).set_index(['word']).drop(['freq'], axis=1)
words.to_pickle('names/all-words.pkl')
words

            rank
word
the            0
and            1
of             2
a              3
to             4
...          ...
retrieving  9959
lightest    9960
leaks       9961
awarding    9962
aligning    9963

[9964 rows x 1 columns]

In [8]:
names = pd.read_pickle('all-names.pkl')

In [15]:
names.to_pickle('all-names.pkl')